<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/resources/demos/style.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
		<script>
			$( function() {
				$( "#due_date" ).datepicker();
				$( "#edit-due-date" ).datepicker();
			} );
		</script>
		<title>Taskboard Details</title>
	</head>
	<body>
		<div id="taskboard-title" class="col-lg-9 col-md-9 mb-0">
			{% if current_user == taskboard.created_by %}
				<h3>{{ taskboard.title }} Taskboard<span onclick="hide_title()" class="glyphicon glyphicon-pencil"></span><span onclick="delete_taskboard()" class="glyphicon glyphicon-trash"></span></h3>
			{% else %}
				<h3>{{ taskboard.title }} Taskboard</h3>
			{% endif %}
		</div>
		<div id="edit-taskboard-title" class="col-lg-9 col-md-9 mb-0">
			<h3><input id="taskboard-new-title" type="text" value="{{ taskboard.title }}" required>
				<Button onclick="save_taskboard_title()" class="btn-success">Save</Button>
				<Button onclick="show_taskboard_title()" class="btn-danger">Cancel</Button>
			</h3>
		</div>
		<div class="col-lg-3 col-md-3 mb-0">
			<h5>{{ welcome_message }} <a href="/">Home</a></h5>
			<div class="col-lg-6 col-md-6 mb-0">
			{% if current_user == taskboard.created_by %}
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#inviteUserModal">Invite User</button>
			{%endif%}
			</div>
			<div class="col-lg-6 col-md-6 mb-0">
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#taskModal">Create task</button>
			</div>
		</div>
		<div class="col-lg-9">
		<h1>task in taskboard</h1>
        <div class="container-fluid">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>ALL TASKS</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
								<table class="table table-responsive table-sm table-hover table-bordered">  
									<thead class="hideextra bg-primary">  
										<tr>   
											<th>ACTION</th>  
											<th>TITLE</th>  
											<th>CREATED BY</th> 
											<th>ASSIGNED TO</th> 
											<th>DUE DATE</th>  
											<th>COMPLETED</th>
											<th>COMPLETION DATE</th>
										</tr>  
									</thead>
									<tbody class="hideextra">  
									{% for task in tasks %} 
										<tr>  
											<td>
											{% if task.completed %}
												<button type="button" class="btn btn-info open-my-modal" disabled data-toggle="modal" data-target="#editTaskModal" data-key="{{ task.key.urlsafe() }}" data-task="{{task.title}}" data-date="{{task.due_date}}" data-assigned-to="{{task.assigned_to}}">Edit</button>
											{% else %}
												<button type="button" class="btn btn-info open-my-modal" data-toggle="modal" data-target="#editTaskModal" data-key="{{ task.key.urlsafe() }}" data-task="{{task.title}}" data-date="{{task.due_date}}" data-assigned-to="{{task.assigned_to}}">Edit</button>
											{% endif %}
												<button type="button" class="btn btn-danger" onclick="delete_task('{{ task.key.urlsafe() }}')">Delete</button>
											</td>  
											<td>{{ task.title }}</td>
											<td>{{ task.created_by }}</td>  
											<td>{{ task.assigned_to }}</td>   
											<td>{{ task.due_date }}</td>  
											{% if task.completed %}
												<td><input type="checkbox" checked disabled data-on="COMPLETED" data-off="PENDING" data-toggle="toggle" data-onstyle="success"></td> 
											{% elif task.un_assigned %}
												<td><input type="checkbox" checked disabled data-on="UN-ASSIGNED" data-off="UN-ASSIGNED" data-toggle="toggle" data-onstyle="danger"></td> 
											{% else %}
												<td onclick="complete('{{ task.key.urlsafe() }}')"><input type="checkbox" data-on="COMPLETED" data-off="PENDING" data-toggle="toggle"></td> 
											{% endif %}
											<td>{{ task.completion_date }}</td> 
										</tr>  
									{% endfor %}  
									</tbody>  
								</table>  
							</div>
                        </div>
                    </div>
                </div>
        </div>
		</div>
		<div class="col-lg-3">
		<h3>users in taskboard</h3>
		<h5>{{ taskboard.created_by.email() }} <span class="glyphicon glyphicon-ok"></span></h5>
		{% for user in taskboard.users %}
		{% if user == taskboard.created_by %}
		{% else %}
			<h5>{{user.email()}} <span onclick="remove_user('{{ user.email() }}')" class="glyphicon glyphicon-remove"></span></h5>
		{% endif %}
		{% endfor %}
		</br></br>
		</br>
		<h3>Total Tasks - {{ total_tasks }}</h3>
		<h3>Completed Tasks - {{ completed_tasks }}</h3>
		<h3>Active Tasks - {{ active_tasks }}</h3>
		<h3>Completed Today Tasks - {{ completed_today_tasks }}</h3>
		</div>
		<!-- Invite User Modal -->
		<div id="inviteUserModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Invite Users to {{ taskboard.taskboard }} Taskboard</h4>
					</div>
					<div class="modal-body">
						{% for user in all_users %}
							{% if user.user in taskboard.users or user.user == taskboard.created_by %}
							<p><label><input type="checkbox" value="{{user.user.email()}}" disabled>{{user.user.email()}}</label></p>
							{% else %}
							<p><label><input type="checkbox" value="{{user.user.email()}}">{{user.user.email()}}</label></p>
							{%endif %}
						{% endfor %}
					</div>
					<div class="modal-footer">
						<button id="button_invite" type="button" class="btn btn-primary" onclick="invite()">Invite</button>
						<p>check user box to invite  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></p>
					</div>
				</div>
			</div>
		</div>

		<!-- Create Task Modal -->
		<div id="taskModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Create task in {{ taskboard.taskboard }} Taskboard</h4>
					</div>
					<div class="modal-body">
						<p>Name of Task: <input id="task" type="text" required></p>
						<p>Due Date: <input type="text" id="due_date" required></p>
						<label for="cars">Assign a user:</label>
							<select id="assigned_to" required>
							{% for user in taskboard.users %}
								<option value="{{user.email()}}">{{user.email()}}</option>
							{% endfor %}
							</select>
						<button id="button_task" type="button" class="btn btn-primary" onclick="create()">Create</button></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button></p>
					</div>
				</div>
			</div>
		</div>
	</body>
		<!-- Edit Task Modal -->
		<div id="editTaskModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Create task in {{ taskboard.taskboard }} Taskboard</h4>
					</div>
					<div class="modal-body">
						<input id="edit-task-key" type="hidden">
						<p>Name of Task: <input id="edit-task" type="text" required></p>
						<p>Due Date: <input type="text" id="edit-due-date" required></p>
						<label for="users">Assign a user:</label>
							<select id="edit-assigned-to" required>
							{% for user in taskboard.users %}
								<option value="{{user.email()}}">{{user.email()}}</option>
							{% endfor %}
							</select>
						<button id="button_task" type="button" class="btn btn-primary" onclick="update()">Update</button></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button></p>
					</div>
				</div>
			</div>
		</div>
	</body>
<script>
$('#edit-taskboard-title').hide();
function hide_title(){
$('#taskboard-title').hide();
$('#edit-taskboard-title').show();
}
function show_taskboard_title(){
$('#taskboard-title').show();
$('#edit-taskboard-title').hide();
}
document.getElementById("button_invite").style.display = "none";
function check_task_exist() {
	var taskboard = $("#taskboard").val();
	taskboard_exist = true;
	$.ajax({
		async:false,
		url : "/get_taskboard",
		data : {
			"taskboard":taskboard,
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
			if (data.taskboard_exist) {
				alert("taskboard already exist");
				taskboard_exist = true;
			} else {
				taskboard_exist = false;
			}
		}
	});
	if(taskboard_exist)
		return false;
	else
		return true;
}
c=0;
users = [];
$(document).ready(function(){
	$('input[type="checkbox"]').click(function(){
		if($(this).prop("checked") == true){
			var value = $(this).val();
			users.push(value);
			c++;
		}
		else if($(this).prop("checked") == false){
			var value = $(this).val();
			var index = users.indexOf(value)
			users.splice(index, 1);
			c--;
		}
		if(c>0)
			document.getElementById("button_invite").style.display = "block";
		else
			document.getElementById("button_invite").style.display = "none";
	});
});
function invite(){
	var data = JSON.stringify(users);
	$.ajax({
		url : "/taskboard_details",
		data : {
			"data":data,
			"taskboard_key":"{{taskboard.key.urlsafe()}}",
			"type":"invite_user",
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
			location.reload();
		}
	});
}
function create(){
	var task = $("#task").val();
	var due_date = $("#due_date").val();
	var assigned_to = $("#assigned_to").val();
	if(task == '' || due_date == '' || assigned_to == ''){
		alert('Please fill all the fields');
		return;
	}
	$.ajax({
		url : "/taskboard_details",
		data : {
			"task":task,
			"due_date":due_date,
			"assigned_to":assigned_to,
			"taskboard_key":"{{taskboard.key.urlsafe()}}",
			"type":"create",
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
			if (data.task_exist)
				alert("task exist");
			else 
				location.reload();
		}
	});
	$('#taskModal').modal('hide')
}
function complete(task_key){
	$.ajax({
		url : "/taskboard_details",
		data : {
			"task_key":task_key,
			"taskboard_key":"{{taskboard.key.urlsafe()}}",
			"type":"completed",
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
			if (data.task_completed){
				location.reload();
			}
			else 
				alert("error");
		}
	});
}
function update(){
	var task = $("#edit-task").val();
	var task_key = $("#edit-task-key").val();
	var due_date = $("#edit-due-date").val();
	var assigned_to = $("#edit-assigned-to").val();
	if(task == '' || due_date == '' || assigned_to == ''){
		alert('Please fill all the fields');
		return;
	}
	$.ajax({
		url : "/taskboard_details",
		data : {
			"task":task,
			"task_key":task_key,
			"due_date":due_date,
			"assigned_to":assigned_to,
			"taskboard_key":"{{taskboard.key.urlsafe()}}",
			"type":"edit",
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
				location.reload();
		}
	});
}
function delete_task(task_key){
	$.ajax({
		url : "/taskboard_details",
		data : {
			"task_key":task_key,
			"taskboard_key":"{{taskboard.key.urlsafe()}}",
			"type":"delete",
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
			if (data.task_deleted){
				location.reload();
			}
			else 
				alert("error");
		}
	});
}
function save_taskboard_title(task_key){
	var title = $('#taskboard-new-title').val();
	$.ajax({
		url : "/taskboard_details",
		data : {
			"title":title,
			"taskboard_key":"{{taskboard.key.urlsafe()}}",
			"type":"change_title",
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
				location.reload();
		}
	});
}
function remove_user(user_key){
	$.ajax({
		url : "/taskboard_details",
		data : {
			"user_key":user_key,
			"taskboard_key":"{{taskboard.key.urlsafe()}}",
			"type":"remove_user",
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
				location.reload();
		}
	});
}
function delete_taskboard(){
	if({{ total_tasks }}>0 || {{ total_tasksboard_users }}>1){
		alert("Please remove all TASKS and USERS before removing Taskboard");
		return;
	}
	$.ajax({
		url : "/taskboard_details",
		data : {
			"taskboard_key":"{{taskboard.key.urlsafe()}}",
			"type":"delete_taskboard",
		},
		type: "POST",
		success : function (data) {
			//console.log(data);
				window.location = "/";
		}
	});
}
$(document).ready(function () {             
    $('.open-my-modal').click(function(){
        $('#edit-task-key').val($(this).data('key'));
        $('#edit-task').val($(this).data('task'));
        $('#edit-due-date').val($(this).data('date'));
        $('#edit-assigned-to').val($(this).data('assigned-to'));
    });
});
</script>
</html>